* {
  box-sizing: border-box;
}

nav {
  position: fixed;
  background-color:#03045e;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li a {
  float: left;
  text-align: center;
  width: 20%;
  padding: 20px;
  color: white;
  text-decoration: none;
  transition: 0.3s ease-in;
}

nav ul li a:hover {
  background-color: white;
  color: #03045e;
}

h1 {
  color: #03045e;
  text-align: center;
  margin: 96px 0px 24px 0px;
  font-size: 40px;
}

.container .text {
  padding: 0px 16px 0px 16px;
  float: left;
  width: 50%;
  color: #03045e;
  text-align: justify;
  justify-content: center;
  align-items: center;
}

.container img {
  width: 50%;
  float: left;
  padding: 16px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#03045e;
  font-size: 14px;
  color: white;
  text-align: center;
  padding: 0%;
  font-family: 'Times New Roman', Times, serif;
}